
/* body{
    background: #000;
} */

img,.side-bar,.Rside-bar{
    display: block;
    width: 100%;
    border-radius: 4px;
}
a:hover{
    text-decoration: none;
}
.navbar-brand{
    background-image: url(../img/yellow.png);
    background-size: 100%;
    width: 50px;
    background-repeat: no-repeat;
    background-position: center center;
}
.side-bar .list-group-item{
    border: 0px;
    border-radius: 4px;
    margin-bottom: 5px;
}
.side-bar .list-group-item.active{
    background-color: red;
}
.new-list .new-list-item{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom:1px solid #888;
}
.new-list .new-list-item:first-child{
    padding-top: 0px;
}
.new-list .new-list-item .title{
    display: block;
    font-weight: bold;
    color: #444;
    font-size: 1.4em;
    line-height: 1.7em;
    margin-bottom: 8px;
}

.new-list .new-list-item .title:hover{
    color: #337ab7;

}

.new-list .new-list-item .info{
    color: #888;
}
.info{
    color: #888;
}
.info .info-margin{
    margin-bottom :20px; 
}
.new-container{
    font-size: 1.2em;
    line-height: 1.6em;
}
.usePic{
    display: inline-block;
}
.usePic img{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 3px;
}
.Rside-bar{
    background: #EEE;
    margin-top: 20px;
    padding-top: 10px;
}
.text-lg{
    font-size: 1.3em;
    font-weight: bold;
}
.Rside-bar .card-title,
.Rside-bar .card-body .list .item{
    padding: 7px 15px;
}

.Rside-bar .card-body .list .item:hover{
    background-color: #AAA;
}
.Rside-bar .card-body .list .item .title{
    padding-bottom: 5px;
}

.Rside-bar .card-title{
    font-weight: bold;
    font-size: 1.2em;
}
.side-h1{
    color:#444;
}
.news-list .news-list-item{
    margin-bottom: 20px;
}
.news-list .news-list-item .news-list-item-info{
    vertical-align:middle;
}
.news-list .news-list-item img{
    max-height: 120px;
}
.container-width{
    max-width: 700px;
}
footer{
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
    color: #999;
}